// Specific CSS for your home-page

.wrapper {
  background-size: cover;
  height: 100vh;
  background-position: center;
  padding: 370px 0;
  color: #B09754;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://static.actu.fr/uploads/2022/08/adobestock-376579240.jpeg');
}


.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #B09754;
  transition: background 0.3s ease;
  border: 1px solid #1E1D2C;
}

.btn-gradient:hover {
  background: #1E1D2C;
  color: white;
}
