
//background_image form add a ship
.wrapper_2 {
  background-size: cover;
  background-position: bottom;
  padding: 70px 0;
  color: #B09754;
  overflow: scroll;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://s1.1zoom.me/big0/839/_450369.jpg');
}