body {
  background-color: $background;
  height: 100vh;
  overflow: scroll;
  padding-bottom: 20px;
}

img {
  border-radius: 10px;
}

.show-card {
  // background: radial-gradient(closest-side, #86694c, $background);
  margin-top: 50px;
  color: $not-quite-black;
}

.ship-name-owner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.ship-name-owner * {
  margin: 0;
}

.description-billing {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

h2 {
  font-weight: bold;
}

.ship-name-owner p {
  font-size: 2em;
  font-weight: bold;
}

.description-group {
  font-size: 20px;
}

.description-group h3 {
  font-weight: bold;
}

.booking-form-group h3 {
  font-size: 24px;
  font-weight: bold;
}

.booking-form-group h3 {
  font-size: 24px;
  font-weight: bold;
}

.booking-form-group p, .booking-form-group label {
  font-size: 20px;
}
