body {
  background-color: $background;
  height: 100vh;
  // overflow: scroll;
  padding-bottom: 20px;
}

img {
  border-radius: 10px;
}

.show-card {
  // background: radial-gradient(closest-side, #86694c, $background);
  margin-top: 25px;
  color: $not-quite-black;
  margin-bottom: 30px;
}

.ship-name-owner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 15px;
}

.ship-name-owner * {
  margin: 0;
}

.description-and-billing {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

h2 {
  font-weight: bold;
}

.ship-name-owner p {
  font-size: 2em;
  font-weight: bold;
}

.description-group {
  font-size: 20px;
}

.description-heading {
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 0;
  border-bottom: solid 1px lightgray;
}

.description-content {
  padding-top: 8px;
}

.booking-form-group {
  padding: 15px;
  border: solid 1px lightgray;
  border-radius: 5px;
  box-shadow: 3px 3px 10px lightgray;
  flex-basis: 400px;
}

.booking-form-group h3 {
  font-size: 24px;
  font-weight: bold;
}

.booking-form-group p, .booking-form-group label {
  font-size: 20px;
}

i {
  width: 25px;
  text-align: center;
  margin-right: 8px;
}

.grid-show {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.show-image-star:first-child {
  grid-column: 1 / 4;
  grid-row: 1/3;
}

.image-grid-ship {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.owner-plus-back {
  display: flex;
  justify-content: space-between;
}

.back-button {
  margin-left: 5px;
  margin-right: 5px;
  height: 50%;
}

.buttons-show {
  display: flex;
}

#starship-map {
  margin-top: 40px;
  margin-left: auto;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
