<div class="wrapper">
  <div class="container">
    <h1>Welcome to SpaceShip Renting</h1>
    <h2>With Starship Booking go to <strong>SPACE</strong> within a <strong>clik!</strong>!</h2>
    <p>Change your life and see out of the box how it looks like</p>
    <%# <a class="btn btn-flat" href="#">View all our Spaceships</a> %>
    <%=link_to 'View all Spaceships', starships_path, class: "btn btn-gradient" %>
  </div>
</div>
