.card-product {
  overflow: hidden;
  border-radius: 30px;
    .dynamique-image {
      height: 300px;
    }
    a {
      font-family: inter;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    .card-body {
      background: #63594F;
      padding:7px;
      height: 170px;
    }
}
