.card-product {

  .image {
  background-image: asset-url("battlestar_galactica_vaisseau.jpg");
  background-size: cover;
  height: 400px;
  }
  a {
    font-family: inter;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .card-body {
    background: #63594F;
    padding:10px;
  }
}
