
  <h1 style="color: grey">Dear Invader, choose your starship for your space journey 🚀 !</h1>
    
<div class="m-3">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <%#  div image %>
      <div id="starships"> 
        <% @starships.each do |starship| %>
          <%= starship.name %>
          <%= starship.description %>
          <%= cl_image_tag starship.photo.key %>
          <%= link_to "See this starship", starship %>
        <% end %>
      </div>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>

