<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @starship.image_url %>');">
  <div class="container">
    <h1><%= @starship.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <% @starships.each do |starship| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= starship.image_url %>')">
          <%= starship.name %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row my-5 justify-content-center">
    <div class="col-4">
    </div>
  </div>
</div>
